{% extends "base.html" %}
{% block title %}Legal Assistant{% endblock %}
{% block content %}
<h1>Legal Processing Portal</h1>
<ul class="menu">
    <li><a class="button" href="{{ url_for('index') }}">Extract Entities</a></li>
    <li><a class="button" href="{{ url_for('extract_structure') }}">Chunk &amp; Build Hierarchy</a></li>
    <li><a class="button" href="{{ url_for('parse_decision_route') }}">Parse Court Decision</a></li>
    <li><a class="button" href="{{ url_for('run_query') }}">Run SQL Query</a></li>
    <li><a class="button" href="{{ url_for('view_legislation') }}">Moroccan Legislation</a></li>
</ul>
{% endblock %}
